.williams20logo3transparentIcon {
  height: 50.7px;
  width: 50.7px;
  position: relative;
  object-fit: cover;
}
.williamsSolutionspro {
  position: relative;
  line-height: 32px;
  white-space: nowrap;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.plumbing,
.septic,
.waterTreatment {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  color: inherit;
  display: inline-block;
  min-width: 70px;
  cursor: pointer;
}
.septic,
.waterTreatment {
  min-width: 48px;
}
.waterTreatment {
  min-width: 126px;
  white-space: nowrap;
}
.contactUsToday,
.excavationAggregate {
  text-decoration: none;
  flex: 1;
  position: relative;
}
.excavationAggregate {
  line-height: 26px;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
}
.contactUsToday {
  font-size: var(--font-size-base-8);
  line-height: 25.6px;
  font-weight: 700;
  font-family: var(--body-body-2);
  color: var(--color-white);
  text-align: center;
}
.contactButton,
.list,
.navHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactButton {
  cursor: pointer;
  border: 1px solid var(--color-mediumslateblue);
  padding: var(--padding-5xs) var(--padding-mini);
  background-color: var(--color-steelblue-200);
  flex: 0.8114;
  box-shadow: 0 8px 16px rgba(55, 99, 244, 0.15);
  border-radius: var(--br-13xl);
  justify-content: center;
  white-space: nowrap;
}
.contactButton:hover {
  background-color: var(--color-deepskyblue);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
}
.list,
.navHeader {
  box-sizing: border-box;
  max-width: 100%;
}
.list {
  width: 748.7px;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-base);
  gap: var(--gap-12xl);
  font-size: var(--font-size-base-8);
  color: var(--color-gray-100);
}
.navHeader {
  align-self: stretch;
  border-bottom: 1px solid var(--color-darkslategray-300);
  justify-content: space-between;
  padding: var(--padding-10xl) var(--padding-23xl) var(--padding-8xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-body-2);
}
@media screen and (max-width: 1275px) {
  .navHeader {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .list {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .list {
    gap: var(--gap-mini);
  }
}
